@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: #0a6c03;
}

  #carta {
    width: 150px;
    height: 200px;
    border: 2px solid #000;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    font-family: 'Georgia', serif;
    font-size: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px auto;
    background-color: white;
    color: black;
    position: relative;
  }